<%= link_to 'http://localhost:3000' do %>
    <h1>CotizaClean</h1>
<% end %>

<%= favicon_link_tag 'cotizaclean.ico' %>

<%= link_to 'Productos', productos_path %>
<%= link_to 'Añadir Producto', new_producto_path if current_user %>
<%= link_to 'Categorias', categories_path if current_user %>
<% if current_user && current_user.admin? %>
  <%= button_to "Logout", destroy_user_session_path, data: { turbo: "false" }, method: :delete %>
<% end %>
<%= link_to "Login", new_user_session_path  unless current_user %>
<%= link_to "Sign In", new_user_registration_path unless current_user %>
