<%= form_with model: @producto do |form| %>
    <% @producto.errors.full_messages.each do |error| %>
        <div>
            <%= error %>
        </div>
    <% end %>
    <div>
        <%= form.label :Nombre%>
        <%= form.text_field :Nombre%>
    </div>

    <div>
        <%= form.label :Tipo%>
        <%= form.text_area :Tipo%>
    </div>

    <div>
        <%= form.label :Descripcion%>
        <%= form.text_area :Descripcion%>
    </div>

    <div>
        <%= form.label :Precio%>
        <%= form.number_field :Precio%>
    </div>

     <div>
        <%= form.label :Marca%>
        <%= form.text_area :Marca%>
    </div>

     <div>
        <%= form.label :photo%>
        <%= form.file_field :photo%>
    </div>
    <%= form.submit %>
<% end %>