<%= image_tag @producto.photo, width: 100 if @producto.photo.attached? %>

<h1 class='nombre'><%= @producto.Nombre %></h1>

<p class='tipo'>Tipo: <%= @producto.Tipo%></p>

<p class='descripcion'>Descripcion: <%= @producto.Descripcion%></p>

<p class='marca'>Marca: <%= @producto.Marca%></p>

<span class='precio'>$<%= @producto.precio %></span>

<% if current_user && current_user.admin? %>
<%= link_to 'Editar producto', edit_producto_path(@producto) %>

<%= link_to 'Eliminar producto', producto_path(@producto), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' }  %>
<% end %>
<%= render partial: 'favorito' , locals: { producto: @producto } %>

